/.svelte-kit
/.vercel
/package
/src/lib/generated
/src/routes/_home/Supporters/contributors.jpg
/src/routes/_home/Supporters/contributors.js
/src/routes/_home/Supporters/donors.jpg
/src/routes/_home/Supporters/donors.js
/scripts/svelte-template
/static/svelte-template.json

# git-repositories of synced docs go here
/repos/

# TODO remove this after https://github.com/sveltejs/kit/pull/12718 is merged
/content/docs/kit/50-reference
.vercel
.env*.local
